@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    overflow: hidden;
}

.calculator {

    height: 500px;
    width: 300px;
    border: 1px solid #0c0118;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.5), 0 0 45px rgba(255, 255, 255, 0.5);
    }
.buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(5, 1fr);
    gap:10px;
    padding: 20px;
    height: 75%;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}

.btn {
    background-color: #B5C9C3;
    border: none;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #0c0118;
    border-radius: 50px;
}

.btn:hover {
    background-color: #A0B5B0;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn:active {
    background-color: #8B9F9A;
}

#display {
    background-color: #b5b9b0;
    margin: 15px;
    height: 90px;
    width: 90%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    border: #0c0118 2px solid;
    align-items: center;
    color: #0c0118;
    font-size: 2rem;
    font-weight: 600;
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
}